/build/
/crash-logs/*
!/crash-logs/SHA256SUMS
!/crash-logs/hs_err_pid16569.log
!/crash-logs/hs_err_pid16574.log
!/crash-logs/hs_err_pid16579.log
!/crash-logs/hs_err_pid16584.log
!/crash-logs/hs_err_pid16589.log
!/crash-logs/hs_err_pid16594.log
!/crash-logs/hs_err_pid16599.log
